/*
!/.gitignore
!/build.gradle.kts
!/settings.gradle.kts
!/COPYING
!/extra
!/gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/metadata
!/proguard.pro
!/README.md
!/src
/gradle/gradle-daemon-jvm.properties
